@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.text-color-primary {
  color: #344563;
}

header {
  background-color: #fff;
  padding-top: 20px;
}

.width-100 {
  width: 100%;
}

.nav-bar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.logo {
  margin-left: 30px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  animation: rotate 1s linear;
}

a {
  text-decoration: none;
  color: #6070ff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* modal-section */
.modal {
  padding: 1rem;
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: #dededebb;
  backdrop-filter: blur(0.3125rem);
  -webkit-backdrop-filter: blur(0.3125rem);
  -moz-backdrop-filter: blur(0.3125rem);
}

h3.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
  color: #091e42;
  width: 1056px;
  height: 40px;
}

svg.modal-close {
  margin-top: 8px;
}

.modal-wrap {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  justify-content: flex-start;
  overflow: scroll;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-content-wrapper {
  gap: 0.75rem;
}

.modal-content-links {
  justify-content: space-around;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
  padding-top: 40px;
  padding-left: 0;
}

.work-modal-languages {
  margin-top: 20px;
  display: inline-flex;
}

.modal-content-links > a {
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  flex: 1;
  color: #396df2;
}

/* end modal section */

.menu-bar {
  color: #6070ff;
  font-size: 20px;
}

.hamburger {
  position: absolute;
  margin-right: 30px;
  cursor: pointer;
  right: -1rem;
  width: 25px;
  height: 20px;
  z-index: 999;
}

.hamburger .bar {
  display: block;
  width: 100%;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
  border-radius: 2px;
  z-index: 999;
}

.hamburger.active .bar {
  background-color: #ffff;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-links {
  list-style-type: none;
}

.nav-links a {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding-right: 20px;
  color: #344563;
}

.nav-links li {
  display: inline;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
  background-color: rgb(96, 99, 255);
  padding-top: 60px;
  padding-left: 20px;
  z-index: 888;
  backdrop-filter: blur(8px);
  mix-blend-mode: multiply;
}

.mobile-menu li {
  list-style: none;
  font-size: 32px;
  padding-bottom: 10px;
  z-index: 999;
}

.mobile-menu li a {
  color: #fff;
  padding-left: 28px;
  font-weight: 600;
}

.mobile-menu.active {
  display: block;
}

.headline-wrap {
  background-image: url(image/background-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  background-position: 0 50px;
  height: 770px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  padding-top: 150px;
}

.greetings {
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  max-width: 250px;
}

.headline-profile {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  justify-items: center;
  color: #344563;
  margin-left: 5px;
  padding-top: 4px;
}

.lets-connect {
  text-decoration: none;
}

.lets-connect h3 {
  text-transform: uppercase;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-left: 20px;
  padding-top: 12px;
}

/* buttons */
.button {
  padding: 10px;
  width: fit-content;
  margin: 20px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 10px;
  color: #344563;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.button:hover {
  background-color: #6070ff;
  color: #fff;
}

.button:active {
  background-color: #172b4d;
  transition: 0.3s;
}

.button:disabled {
  border: 1px solid #5e6c84;
  background-color: #fff;
  color: #5e6c84;
}

.social-icons {
  display: flex;
  margin: 0;
  padding-top: 12px;
  padding-left: 20px;
}

.social-icons li {
  list-style: none;
  margin-right: 10px;
}

.social {
  height: 18px;
}

/* Works section */
.works-grid-container {
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 114px 0;
  padding-top: 114px;
  padding-left: 20px;
  padding-right: 20px;
}

.works-grid-container > *:nth-child(1) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.works-grid-container:hover {
  transform: scale(1.1);
}

.works-grid-item {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px;
  min-height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px;
}

h3.section-title.margin-top-12 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 52px;
  color: #091e42;
}

.works-grid-item img {
  transition: 0.3s ease-in-out;
}

.works-grid-item img:hover {
  transform: scale(1.1);
}

.work-period ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0;
}

h1.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 0;
}

.work-categories li {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
}

.work-period ul li {
  margin: 10px 10px 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.work-categories li:not(:first-child) {
  margin-left: 8px;
}

.work-period ul li:first-child {
  list-style: none;
  margin-left: 0;
  text-transform: uppercase;
}

.work-period ul li:not(:first-child) {
  color: #7a869a;
}

.work-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.work-categories {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

/* About section */
.about-wrap {
  padding: 114px 24px 136px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(image/baseaboutmyself.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
}

.about-myself {
  margin-top: 150px;
}

/* Other info */
.other-info-wrap {
  list-style: none;
}

h2.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-left: 5px;
  margin-bottom: 5px;
}

.other-info-wrap .other-info-list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #dfe1e6;
}

.other-info-wrap .other-info-list h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

.other-info-wrap .li-flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.other-info-details {
  padding-top: 36px;
  padding-left: 4px;
  list-style-type: none;
  width: 100%;
}

.view-list-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 9px 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  background-color: #f7f7f9;
}

.view-list-item img.lang-icon {
  -ms-flex-preferred-size: 48px;
  flex-basis: 48px;
  width: 48px;
  margin-right: 16px;
}

.view-list-item .lang-name {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.contact_container {
  height: 890px;
  background-size: cover;
  position: relative;
}

.background-contact {
  position: absolute;
  background-image: url(image/contact\ form\ shapes-mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 60px;
  z-index: -11;
  background-position: right;
  width: 100%;
  height: 100%;
  background-color: #6070ff;
}

.contact_bg {
  padding-top: 28px;
  padding-left: 20px;
}

.flex-column {
  flex-direction: column;
}

.other-info {
  font-weight: bold;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
  margin-top: 120px;
}

.msg-dsc {
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  font-weight: 400px;
  width: 327px;
  padding-left: 16px;
  padding-top: 2px;
  margin: auto;
  transition: 0.3s ease-in;
}

.msg-dsc:hover {
  transform: translate(20px);
}

.contact_container .form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
}

.contact_container .form input,
.textarea {
  background: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  font-size: 17px;
  width: 100%;
  margin: 10px 0;
}

.contact-button {
  background-color: white;
  padding: 12px 16px;
}

.contact-button:hover {
  background-color: #6070ff;
  color: white;
}

.background-white {
  position: absolute;
  background-color: #ffff;
  border: none;
  width: 100%;
  height: 100%;
  z-index: -111;
}

.description {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 546px) {
  .nav-links {
    display: none;
  }

  #portfolio-container {
    display: none;
  }
}

@media (min-width: 546px) {
  .container {
    max-width: 1156px;
    margin: 0 auto;
  }

  .hamburger {
    display: none;
  }

  .headline-wrap {
    background-image: url(image/back-desktop.svg);
    background-position: center;
  }

  .greetings {
    font-weight: 700;
    font-size: 48px;
    max-width: 500px;
  }

  .headline-profile {
    max-width: 920px;
    font-size: 20px;
  }

  .works-grid-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
  }

  .card-content {
    max-width: 496px;
  }

  .works-grid-item img {
    max-width: 544px;
  }

  .works-grid-item:nth-child(2) img {
    grid-column: 2/2;
    grid-row: 1;
  }

  .works-grid-item:nth-child(2) .card-content {
    grid-column: 1/2;
  }

  .works-grid-item:nth-child(4) img {
    grid-column: 2/2;
    grid-row: 1;
  }

  .works-grid-item:nth-child(4) .card-content {
    grid-column: 1/2;
  }

  .about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
  }

  .content-aboutleft {
    max-width: 447px;
  }

  .content-aboutleft p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .other-info-details {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .view-list-item {
    display: block;
  }

  .lang-icon {
    display: block;
  }

  .modal {
    overflow: scroll;
    align-items: center;
    padding: 4.25rem;
  }

  .modal-wrap {
    width: 80%;
    height: auto;
    overflow: unset;
  }

  .modal-content-wrapper {
    gap: 2rem;
  }

  .modal-content-text {
    flex-direction: row;
    gap: 2.25rem;
    padding-bottom: 3.875rem;
  }

  .modal-wrap.flex.flex-column {
    flex-direction: row;
  }

  .testt {
    display: flex;
  }

  .modal-description {
    max-width: 60%;
  }
}
